@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Username"] = Environment.GetEnvironmentVariable("USERNAME");
    ViewData["Password"] = Environment.GetEnvironmentVariable("PASSWORD");
}

<div class="text-center">
    <h1 class="display-4">Welcome from argocd updated at 3:41!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Username: @ViewData["Username"]</h2>
    <h2>Password: @ViewData["Password"]</h2>
</div>
